* {
  margin: 0;
  padding: 0;
}

#body {
  font-family: Inter, sans-serif;
}

#section1 {
  background-color: #043873;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

h1 {
  font-size: 64px;
}

p {
  font-size: 15px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2%;
  padding-right: 8%;
  padding-left: 8%;
}

#topnavn {
  justify-items: flex-end;
  gap: 60px;
  width: auto;
  height: 24px;
}

.logo {
  width: auto;
  justify-items: flex-start;
  height: 34px;
}

.topnavn nav ul {
  display: inline-block;
  font-family: "DM Sans", sans-serif;
}

.topnavn nav ul li {
  color: white;
  display: inline-block;
}

.topnavn button {
    background-color: #4f9cf9;
}

.section1-1 {
  display: flex;
  flex-wrap: wrap;
  height: 70vh;
  padding-left: 10%;
  padding-right: 10%;
}

.textbox {
  width: 40%;
  display: flex;
  align-items: center;
}

.section1-1text p {
  color: white;
}

.section1-1text h1 {
  color: white;
}

.section1text p {
  color: white;
}

.image-container {
  display: flex;
  align-items: center;
  justify-items: center;
  width: 60%;
  height: 75%;
  background-color: #c4defd;
}

@media screen and (max-width: 320px) {
  h1 {
    font-size: 36px;
  }

  p {
    font-size: 18px;
  }

  .textbox {
    width: 100%;
  }

  .image-container {
    width: 100%;
  }

  #section1 {
    height: 130vh;
  }
}

#section2 {
  height: 180vh;
}

.sec2-1 {
  height: 80vh;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  padding-right: 10%;
  padding-left: 10%;
}

.textbox2 {
  display: flex;
  align-items: center;
  justify-items: center;
  width: 50%;
}

.image-container2-1 {
  background-color: #c4defd;
  width: 50%;
}

.sec2-2 {
  height: 100vh;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  padding-right: 10%;
  padding-left: 10%;
}

.imgcontainer2-2 {
  width: 65%;
}

.imgcontainer2-2 img {
  width: 100%;
}

.sec2-2imgcontainer {
  width: 50%;
}

.textbox21 {
  width: 35%;
}

@media screen and (max-width: 320px) {
  .textbox2 {
    width: 100%;
  }

  .image-container2-1 {
    width: 100%;
  }

  .imgcontainer2-2 {
    width: 100%;
  }

  .textbox21 {
    width: 100%;
  }
}

#sec3 {
  height: 80vh;
  background-color: #043873;
  padding-right: 10%;
  padding-left: 10%;
  display: flex;
  flex-wrap: wrap;
}

.textbox3 {
  width: 65%;
}

.section3text {
  color: white;
}

.image-container3 {
  background-color: #c4defd;
  width: 35%;
}

#sec35 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
  height: 80vh;
}

.bluebox {
  padding-top: 5%;
  width: 50%;
  height: 50%;
}

.textbox35 {
  width: 50%;
}

.image-container35 {
  background-color: #c4defd;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 320px) {
  #sec3 {
    height: 100vh;
  }

  .textbox35 {
    width: 100%;
  }

  .bluebox {
    padding-top: 5%;
    width: 100%;
    height: 15%;
  }

  .textbox3 {
    width: 100%;
  }

  .image-container3 {
    width: 100%;
  }
}

#sec4 {
  height: 110vh;
  padding-right: 10%;
  padding-left: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.boxescontainer {
  height: 70vh;
}

.boxes {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

@media screen and (max-width: 320px) {
  #sec4 {
    height: 220vh;
    align-items: flex-start;
  }

  .textbox4 {
    width: 100%;
  }

  .boxes {
    flex-wrap: wrap;
  }
}

#sec5 {
  height: 60vh;
  background-color: #043873;
  padding-right: 10%;
  padding-left: 10%;
  display: flex;
  align-items: center;
}

.textbox5 {
  width: 100%;
  display: flex;
  justify-items: center;
  color: white;
}

@media screen and (max-width: 320px) {
  #sec5 {
    height: 100vh;
    align-items: flex-start;
  }

  .textbox5 {
    width: 100%;
  }
}

#sec6 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
  height: 70vh;
}

.textbox6 {
  width: 60%;
}

.image-container6 {
  width: 40%;
}

.image-container6 img {
  width: 100%;
}

#sec7 {
  height: 60vh;
  padding-left: 10%;
  padding-right: 10%;
}

.textbox7 {
  height: 30vh;
  justify-items: center;
}

.image-container7 {
  height: 30vh;
  width: 100%;
}

.logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 320px) {
  .textbox7 {
    width: 100%;
  }

  .logos {
    width: 25%;
  }
}

#sec8 {
  background-color: #043873;
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  padding-left: 10%;
  padding-right: 10%;
}

.image-container8 {
  width: 40%;
  height: 100%;
}

.image-container8 img {
  width: 90%;
}

.textbox8 {
  width: 60%;
  height: 100%;
}

.text8 {
  color: white;
}

#sec9 {
  padding-left: 10%;
  padding-right: 10%;
}

.reviews {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.textbox10 {
  background-color: #c4defd;
}

.text10 {
  color: white;
}

.text10 h2 {
  color: #043873;
}
